.contact {
    padding-top: 213px;
    padding-bottom: 102px;
    width: 100%;
    @include media($sm) {
        padding-top: 160px;
        padding-bottom: 149px;
    }
    
    &__title {
        text-align: center;
        margin-bottom: 27px;
    }
    
    &__desc {
        text-align: center;
        max-width: 540px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        
        @include media($sm) {
            margin-bottom: 74px;
        }
    }
    
    &__part {
        @include row(0);
        justify-content: space-between;
        
        @include media($xxl) {
            align-items: center;
            flex-direction: column-reverse;
        } 
    }
    
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 453px;
        width: 100%;
        background: $bg;
        border: 1px solid $form-border;
        border-radius: 20px;
        box-shadow: $shadow;
        padding: 52px 50px;
        margin-right: 60px;
        
        @include media($xxl) {
            margin-right: 0;
        }
        
        @include media($sm) {
            padding: 52px 49px;
        }
        @include media(450px) {
            padding: 52px 25px;
        }
        &-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.1px;
            color: $dark-blue;
            margin-bottom: 45px;
        }
        
        &-name,
        &-email {
            border: 1px solid $input-border;
            padding: 19px 20px;
            background: $input;
            border-radius: 39px;
            margin-bottom: 45px;
            width: 100%;
            
            &::placeholder {
                font-family: "Roboto";
                font-weight: 400;
                font-size: 15px;
                line-height: 16px;
                letter-spacing: 0.1px;
                text-transform: capitalize;
                color: $placeholder;
            }
            
            &:focus {
                border-radius: 39px;
                outline: none;
                border: 1px solid $light-blue;
            }
        }
        
        &-textarea {
            border: 1px solid $input-border;
            padding: 19px 20px;
            background: $input; 
            margin-bottom: 45px;
            width: 100%;
            resize: none;
            max-height: 193px;
           
            &::placeholder {
                font-family: "Roboto";
                font-weight: 400;
                font-size: 15px;
                line-height: 16px;
                letter-spacing: 0.1px;
                text-transform: capitalize;
                color: $placeholder;
            }
            
            &:focus { 
                outline: 1px solid $light-blue; 
            }
        }
        
        &-btn {
            padding: 18px 48px;
            align-self: flex-start;
            border: none;
            
            &:focus {
                outline: none;
            }
            
            @include media(400px) {
                align-self: center;
            }
        }
    }
    
    &__info {
        padding-top: 28px;
        padding-bottom: 45px;
        display: flex;
        flex-direction: column; 
        flex-grow: 1;
        align-items: flex-start; 
        
        @include media($xxl) {
            align-items: center;
        }
        @include media($lg) {
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: 78px;
        }
        
        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 70px;
            @include media($lg) {
                &:not(:last-child) {
                   flex-direction: column; 
                }
            }
            
            @include media($sm) {
                align-self: start;
                align-items: flex-start;
                margin-bottom: 0;
                order: 1;
            }
        }
        
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.1px; 
            &:not(:last-child) {
                margin-right: 35px;
            }
            @include media($lg) {
                flex-direction: row; 
                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 40px;
                }
            }
            
        }
        & i {
            font-size: 30px;
            color: $light-blue;
            margin-bottom: 20px;
            transition: 0.2s;
            &:hover {
                transform: scale(1.3);
            }
            @include media($lg) {
                margin-bottom: 0;
                margin-right: 21px;
            }
        }
        
        &-address {
            max-width: 293px;
            text-align: center;
            color: $text;
            
            @include media($sm) {
                text-align: left;
            }
        }
        
        &-tel,
        &-email{
           color: $text;
        }
        
        &-map {
            align-self: center;
            margin-bottom: 75px;
            
            @include media($sm) {
                display: none;
            }
        }
        
        &-social {
            display: flex; 
            
            @include media($sm) { 
                margin-bottom: 92px;
            }
        }
        
        &-icons i {
            font-size: 40px;
        }
        
        &-icons:not(:last-child) {
            margin-right: 33px;
        }
    }
}