section.fastest 
    .container
        .fastest__content
            .fastest__content-left
                h2.fastest__content-title.title Fastest way to organize
                .fastest__content-desc.text Most calendars are designed for teams. Slate is designed for freelancers
                a(href="#!").fastest__content-link.link-B Try For Free
            .fastest__content-right 
                img(src="images/macbook.webp", alt="macbook").fastest__content-img
        