section.subscribe 
    .container
        .subscribe__content
            .subscribe__draw 
                img(src="images/undraw.webp", alt="picture").subscribe__draw-img
            .subscribe__text   
                p.subscribe__text-suptitle At your fingertips
                h2.subscribe__text-title.title Lightning fast prototyping 
            .subscribe__send    
                h3.subscribe__send-title Subscribe to our Newsletter
                p.subscribe__send-desc Available exclusivery on Figmaland
                form.subscribe__send-form
                    input(type="text" placeholder="Your Email").subscribe__send-input
                    button(type="submit" disabled).subscribe__send-btn.link-A Subscribe
        