section.testimonials
    .container
        .testimonials__content
            h2.testimonials__title.title Testimonials
            img.testimonials__img(src="images/ibm.webp", alt="ibm") 
            p.testimonials__desc.text Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule. 
            .testimonials__user 
                img.testimonials__user-ava(src="images/ava.webp", alt="user-ava")
                .testimonials__user-info 
                    p.testimonials__user-review Organize across
                    p.testimonials__user-profession Ui designer
            a.testimonials__link.link-B(href="#!")  More Testimonials